@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-image: url(./assets/background-image1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
}

h1 {
  font-size: 50px;
  font-weight: 2000px;
  text-shadow: 2px black;
}

h3 {
  font-size: 25px;
  color: grey;
}

.id1 {
  color: white;
}

.id2 {
  color: rgb(182, 180, 180);
}

a {
  color: blue;
  text-decoration: none;
}

.Logo {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 15px;
  margin-left: 1350px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  background-color: white;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  border-right: none;
  margin-bottom: 5px;
}

th {
  border: 0px solid #dddddd;
  text-align: left;
  padding: 8px;
  border-right: none;
  margin-bottom: 5px;
}